body {
  margin: 0;
  background-color: #0e0e0e;
  font-family: sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader-container {
  text-align: center;
}

.spinner {
  margin: 0 auto 20px auto;
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top: 6px solid #ff444f;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

p {
  font-size: 1.2rem;
  color: #fff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
