body,
#slider-content {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}

#slider-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    border-right: 1px solid #333;
    box-shadow: 2px 0 5px rgb(255 165 0 / 20%);
    overflow: hidden;
    color: #fff;
}

.slider-header {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.slider-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 0px;
    background-color: rgb(255 165 0 / 10%);
    box-shadow: 0 0 2px orange;
}

.slider-controls.no-border {
    border: none;
}

#run-button {
    background-color: orange;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid #000;
}

.progress-container {
    flex-grow: 1;
    position: relative;
    height: 10px;
}

.with-margin {
    margin-right: 40px;
}

.dark-background {
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 12px 8px 4px;
}

.progress-wrapper {
    position: relative;
    height: 1px;
    margin-top: 12px;
}

.progress-line-background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #555;
    border-radius: 1px;
    width: 100%;
    z-index: 0;
}

.progress-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: orange;
    border-radius: 1px;
    width: 0%;
    z-index: 1;
}

.dot {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
    height: 6px;
    width: 6px;
    background-color: #666;
    border-radius: 50%;
    z-index: 2;
}

.dot.glow {
    box-shadow: 0 0 8px 4px orange;
}

#dot1 {
    left: 0;
}

#dot2 {
    left: 50%;
}

#dot3 {
    left: 100%;
}

#bot-status.above-progress {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    color: #fc9;
    font-size: 12px;
    z-index: 3;
}

.divider {
    border-bottom: 1px solid #444;
    margin: 1px 0;
}

.description {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #ddd;
}

.highlight {
    color: orange;
}

.small {
    font-size: 11px;
    display: inline-block;
    margin-top: 2px;
}

.slider-footer {
    padding: 10px;
    border-top: 1px solid #444;
    background: #2a2a2a;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    column-gap: 10px;
    text-align: center;
    font-size: 12px;
    color: #ccc;
}

.stat-box {
    border: none;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 0 2px orange;
}

.label {
    font-weight: 300;
    color: #aaa;
}

.stat-value {
    color: orange;
    margin-top: 5px;
    display: block;
}

.reset-button-container {
    text-align: center;
    margin-top: 15px;
}

.reset-button.full-width {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 4px;
    background: transparent;
    color: orange;
    box-shadow: 0 0 2px orange;
}

.table-container {
    width: 100%;
    margin-top: 1rem;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 5px 0 orange;
    max-height: 190px; /* Set fixed height */
    min-height: 190px; /* Set fixed height */
    overflow-y: auto; /* Scroll vertically when content overflows */
}

/* Optional: make the thead fixed */
thead th {
    position: sticky;
    top: 0;
    background-color: orange;
    color: #fff;
    z-index: 2;
}

table {
    width: 100%;
    border-collapse: separate;
    background-color: #1f1f1f;
    border: 1px solid #333;
    font-size: 0.8rem;
}

th,
td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #333;
}

th {
    background-color: orange;
    color: #fff;
}

.payout-positive {
  color: green;
}

.payout-negative {
  color: red;
}


