@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* TheBot CSS */
body {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0a192f;
  /* Light navy blue */
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10% !important;
}

.container {
  display: flex;
  flex-grow: 1;
  padding: 2rem;
  gap: 4rem;
  justify-content: space-between;
  flex-direction: row;
}

.form,
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .select-wrapper,
.form .input-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-top: -13px;
}

.form input {
  padding: 0.35rem;
  border-radius: 0px;
  background-color: #172a45;
  /* Darker navy blue */
  color: white;
  box-shadow: 0 0 1px 0px #6a00ff;
  /* Purple glow */
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding-right: 4rem;
  /* make room for hint */
}

.form input::placeholder {
  color: #ccc;
}

.form .input-wrapper .hint {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #6a00ff;
  /* Purple */
  font-size: 0.55rem;
  pointer-events: none;
}

.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.35rem;
  padding-right: 2.5rem;
  border-radius: 0px;
  background-color: #172a45;
  /* Darker navy blue */
  color: white;
  box-shadow: 0 0 1px 0px #6a00ff;
  /* Purple glow */
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.select-wrapper::after {
  content: "\25BC";
  color: #6a00ff;
  /* Purple */
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.55rem;
  pointer-events: none;
}

.form select:focus,
.form input:focus {
  outline: none;
  box-shadow: 0 0 1px 0px #6a00ff;
  /* Purple glow */
}

.bot-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #172a45;
  /* Darker navy blue */
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 0 1px 0px #6a00ff;
  /* Purple glow */
}

.run-btn {
  padding: 0.75rem;
  background-color: #6a00ff;
  /* Purple */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.status-container .status {
  font-style: italic;
  color: #aaa;
  text-align: center;
  margin-bottom: 1rem;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: gray;
  z-index: 2;
  margin: 0 5px;
}

.active {
  background-color: #6a00ff;
  /* Purple */
}

.table-container {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  box-shadow: 0 0 1px 0px #6a00ff;
  /* Purple glow */
  max-height: 190px;
  min-height: 190px;
  overflow-y: auto;
}

/* Optional: make the thead fixed */
thead th {
  position: sticky;
  top: 0;
  background-color: #6a00ff;
  /* Purple */
  color: white;
  z-index: 2;
}

table {
  width: 100%;
  border-collapse: separate;
  background-color: #172a45;
  /* Darker navy blue */
  border: 1px solid #333;
  font-size: 0.65rem;
}

th,
td {
  padding: 0.25rem;
  text-align: left;
  border-bottom: 1px solid #333;
}

th {
  background-color: #6a00ff;
  /* Purple */
  color: white;
}

.status-text {
  font-size: 0.7rem;
}

.summary {
  margin-top: 0.3rem;
  background-color: #172a45;
  /* Darker navy blue */
  padding: 1rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 0px 0px #6a00ff;
  /* Purple glow */
}

.summary div {
  padding: 0.03rem;
  font-size: 0.5rem;
  color: white;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 1px 0px #6a00ff;
  /* Purple glow */
  transition: box-shadow 0.3s ease-in-out;
}

.summary div:hover {
  box-shadow: 0 0 1px 0px #6a00ff;
  /* Purple glow */
}

.total-stake {
  background-color: #6a00ff;
  /* Purple */
  box-shadow: 0 0 1px 0px #6a00ff;
  /* Purple glow */
  padding: 0;
  font-size: 0.55rem;
}

.total-won {
  background-color: green;
  box-shadow: 0 0 1px 0px green;
}

.total-lost {
  background-color: red;
  box-shadow: 0 0 1px 0px red;
}

.profit-loss {
  background-color: #6a00ff;
  /* Purple */
  box-shadow: 0 0 1px 0px #6a00ff;
  /* Purple glow */
}

.dot-container {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.dots-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  align-items: center;
  margin-bottom: 1px;
}

.dots-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(16.66% + 5px);
  right: calc(16.66% + 5px);
  height: 1px;
  background-color: gray;
  z-index: 0;
  transform: translateY(-50%);
}

.dots-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(16.66% + 5px);
  right: var(--progress-right, calc(50% + 5px));
  height: 1px;
  background-color: #6a00ff;
  /* Purple */
  z-index: 1;
  transform: translateY(-50%);
}

.right-side .status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bot-status-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.bot-status-container .status {
  margin-left: 1rem;
}

.glow {
  animation: glowPulse 0.5s infinite ease-in-out;
  box-shadow: 0 0 50px #2196F3;
  /* Blue */
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 5px #2196F3;
    /* Blue */
    opacity: 1;
  }

  50% {
    box-shadow: 0 0 50px #2196F3;
    /* Blue */
    opacity: 0.4;
  }

  100% {
    box-shadow: 0 0 75px #2196F3;
    /* Blue */
    opacity: 1;
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.right-side .dots-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary .label {
  font-size: 0.60rem;
}

.summary .amount {
  font-size: 0.60rem;
  font-weight: bold;
  margin-top: 0.01rem;
}

.payout-positive {
  color: green;
}

.payout-negative {
  color: red;
}

/* Responsive styling for small screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    gap: 2rem
  }

  .form {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .right-side {
    width: 93%;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .right-side {
    order: -1;
  }

  .summary {
    gap: 0.3rem;
  }

  .summary div {
    padding: 0.2rem;
    font-size: 0.5rem;
  }

  .summary .label {
    font-size: 8px;
  }

  .summary .amount {
    font-size: 12px;
  }
}

