.bot {
    --bot-content-height: calc(100vh - 140px);
    --bot-content-width: calc(100vw - 366px);
    --drawer-content-height: calc(100vh - 394px);
    --drawer-content-height-no-stat: calc(100vh - 233px);
    --drawer-scroll-height: calc(100vh - 365px);
    --drawer-content-height-mobile: calc(100% - 233px);
    --tab-content-height: calc(100vh - 16.6rem);
    --tab-content-height-mobile: calc(100vh - 12.6rem);
    --zindex-drawer: 5;
    --zindex-modal: 6;
    --zindex-draggable-modal: 7;
    --zindex-snackbar: 8;

    &-dashboard {
        background: var(--general-section-1);
    }
}

.modal-root {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: rgb(0 0 0 / 72%);
    right: 0;
    opacity: 0;
    z-index: -1;
}

.modal-root:not(:empty) {
    display: flex;
    opacity: 1;
    z-index: 100001; // High z-index to support tour dialog and other modals
}

strong {
    font-weight: bold;
}

.risk-warning-button {
    position: fixed;
    bottom: 6rem;
    left: 1rem;
    z-index: 9999;  /* High enough to be on top */
    padding: 0.8rem 1rem;
    background-color: rgb(221, 118, 33);
    color: #000;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 0.75rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    line-height: 1;
}

.risk-warning-dialog {
    position: fixed;
    bottom: 4rem;  /* Adjust to show above the button */
    left: 1rem;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    z-index: 10000;  /* Higher than the button */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 300px;

    p {
        margin: 0 0 0.5rem;
        font-weight: bold;
    }

    button {
        background: #ff9800;
        border: none;
        padding: 0.4rem 0.8rem;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
    }
}

